body {
    font-family: sans-serif;
    color: #F0E68C; /* Warna teks terang */
    line-height: 1.6;
    background-color: transparent;
}

a {
    color: #00CED1; /* Warna link terang */
}

h2 {
    color: #7FFFD4; /* Warna judul terang */
}

.version {
    font-weight: bold;
    color: #FFD700; /* Warna versi terang */
}

.version-date {
    font-style: italic;
    color: #98FB98; /* Warna tanggal versi terang */
}

.tag {
    background-color: #FF4500;
    color: #FFFFFF;
    padding: 2px 5px;
    border-radius: 3px;
}
